<div class="container">
    <h2>Registration</h2>
    <div *ngIf="errorMessage">{{this.errorMessage}}</div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label for="username">Username:</mat-label>
            <input matInput type="text" id="username" required formControlName="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="email">Email:</mat-label>
            <input matInput type="email" id="email" required formControlName="email">
        </mat-form-field>
        <div formGroupName="name">
            <mat-form-field>
                <mat-label for="firstName">First Name:</mat-label>
                <input matInput type="text" id="firstName" required formControlName="firstName">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="lastName">Second Name:</mat-label>
                <input matInput type="text" id="lastName" required formControlName="lastName">
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label for="password">Password:</mat-label>
            <input matInput type="password" id="password" required formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="passwordRepeat">Confirm Password:</mat-label>
            <input matInput type="password" id="passwordRepeat" required formControlName="passwordRepeat">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit">Register</button>
            <button mat-raised-button color="primary" (click)="goBack()">Cancel</button>
        </div>
    </form>
</div>