@use '../../../variables.scss' as v;

.navbar {
    background-color: v.$navbar-background;
    overflow: hidden;
    text-align: center;

    button {
        display: inline-block;
        color: v.$navbar-text;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        border-radius: 0.25rem;
        border: none;

        &:hover {
            background-color: v.$navbar-hover;
        }
      }
  }

.active {
    background-color: v.$navbar-selected;
}

.inactive{
    background-color: v.$navbar-background;
}
