@use '../../../variables.scss' as v;

* {
}

.sidenav {
  height: fit-content;
  z-index: 999;
  position: absolute;
}

.container{
  height: 200px;
  position: relative;
}

.navbar {
    overflow: hidden;

    & > * {
        color: v.$navbar-text;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 0.25rem;
        border: none;
        height: 100%;
        margin: 0;

        &:hover {
            background-color: v.$navbar-hover;
        }
      }
  }

.active {
    background-color: v.$navbar-selected;
}

.inactive{
    background-color: inherit;
}

.dropbtn {
  background-color: inherit;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: inherit; /* Important for vertical align on mobile phones */  
}

#content {
  height: fit-content;
}

button {
  text-align: center;
  align-items: center;
  justify-content: center;
}