<div class="navbar">
    <a href="/home" [ngClass]="selectedPage === '/home' ? 'active' : 'inactive'">Home</a>
    <a href="/about" [ngClass]="selectedPage === '/about' ? 'active' : 'inactive'">About</a>
    <a href="/services" [ngClass]="selectedPage === '/services' ? 'active' : 'inactive'">Services</a>
    <a href="/contact" [ngClass]="selectedPage === '/contact' ? 'active' : 'inactive'">Contact</a>
    <a href="/login" [ngClass]="selectedPage === '/login' ? 'active' : 'inactive'">Login</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
      </div>
</div>