<mat-sidenav-container class="container" id="content">
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
            <a mat-list-item href="/home" [ngClass]="selectedPage === '/home' ? 'active' : 'inactive'">
                <mat-icon>info</mat-icon>
                <span>Home</span>
            </a>
            <a mat-list-item href="/about" [ngClass]="selectedPage === '/about' ? 'active' : 'inactive'">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </a>
            <a mat-list-item href="/services" [ngClass]="selectedPage === '/services' ? 'active' : 'inactive'">
                <mat-icon>info</mat-icon>
                <span>Services</span>
            </a>
            <a mat-list-item href="/products" [ngClass]="selectedPage === '/products' ? 'active' : 'inactive'">
                <mat-icon>info</mat-icon>
                <span>Products</span>
            </a>
            <ng-template *ngIf="isLoggedIn; then thenBlock2 else elseBlock2"></ng-template>
            <ng-template #elseBlock2>
                <a mat-list-item href="/login" [ngClass]="selectedPage === '/login' ? 'active' : 'inactive'">
                    <mat-icon>info</mat-icon>
                    <span>Login</span>
                </a>
                <a mat-list-item href="/signup" [ngClass]="selectedPage === '/signup' ? 'active' : 'inactive'">
                    <mat-icon>info</mat-icon>
                    <span>SignUp</span>
                </a>
            </ng-template>
            <ng-template #thenBlock2>
                <button mat-button (click)="logout()">Logout</button>
            </ng-template>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-sm>
                <button mat-icon-button (click)="toggleSidebar(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="navbar" fxFlex fxLayout fxLayoutAlign="center" fxHide.lt-sm fxHide.sm>
                <a href="/home" [ngClass]="selectedPage === '/home' ? 'active' : 'inactive'">Home</a>
                <a href="/about" [ngClass]="selectedPage === '/about' ? 'active' : 'inactive'">About</a>
                <a href="/services" [ngClass]="selectedPage === '/services' ? 'active' : 'inactive'">Services</a>
                <a href="/products" [ngClass]="selectedPage === '/products' ? 'active' : 'inactive'">Products</a>
                <ng-template *ngIf="isLoggedIn; then thenBlock else elseBlock"></ng-template>
                <ng-template #elseBlock class="dropdown" (mouseenter)="menuTrigger.openMenu()">
                    <button mat-button #menuTrigger="matMenuTrigger"
                        [matMenuTriggerFor]="dropdownMenu"><mat-icon class="button-icon">account_circle</mat-icon>asd</button>
                    <mat-menu #dropdownMenu>
                        <a mat-menu-item href="/login"
                            [ngClass]="selectedPage === '/login' ? 'active' : 'inactive'">Login</a>
                        <a mat-menu-item href="/signup"
                            [ngClass]="selectedPage === '/signup' ? 'active' : 'inactive'">SignUp</a>
                    </mat-menu>
                </ng-template>
                <ng-template #thenBlock>
                    <button mat-button (click)="logout()">Logout</button>
                </ng-template>
                <button mat-button><mat-icon>account_circle</mat-icon></button>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>