<div class="main">
    <mat-card>
        <mat-card-header>
            <mat-card-title>About Us - Bazinga</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Welcome to Bazinga, your ultimate destination for all things tech! At Bazinga, we're more than just
                a store – we're your gateway to the latest innovations, cutting-edge gadgets, and unparalleled customer
                service. Whether you're a seasoned tech enthusiast or just dipping your toes into the digital world,
                we're here to cater to all your tech needs with a smile.</p>
            <br>
            <p>Our vision at Bazinga is to provide a seamless and enriching experience for every customer who walks
                through our doors or visits us online. We strive to be at the forefront of technological advancements,
                offering a curated selection of products that inspire and empower our customers to explore, create, and
                connect in exciting new ways.</p>
            <br>
            <p>If you have any questions, feedback, or inquiries, feel free to reach out to us:</p>
            <ul>
                <li>Email: info&#64;bazinga.com</li>
                <li>Phone: 1-800-BAZINGA (1-800-832-4774)</li>
                <li>Address: 123 Bazinga Avenue, Silicon Valley, CA</li>
            </ul>
        </mat-card-content>
        <mat-card-actions class="image">
            <img src="https://media.istockphoto.com/id/1388642146/hu/fot%C3%B3/call-center-dolgoz%C3%B3k.jpg?s=612x612&w=0&k=20&c=yNCHYjH7f9RdqN_fG97S8vFmAeNLykYleMmBeTI_YFk="
                alt="call us">
        </mat-card-actions>
    </mat-card>
</div>