  mat-card{
    width: 90%;
    margin: 2vh auto;
  }

  mat-card-content {
    display: flex;
  }
  
  img {
    max-width: 100%;
  }

  .imgContainer {
    width: 20vh;
    padding: 1rem;
  }

  .card-container {
    justify-content: center;
  }

  .buttonContainer {
    align-items: center;
    justify-content: center;
    text-align: center;

    button{
      margin: 2rem;
    }
  }
    


  .cart-card {
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart-header {
    font-size: 18px;
    margin: 20px auto 20px 0;
  }
  
  .cart-content {
    font-size: 16px;
    color: #666;
  }
  